<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    
    <providers>
        <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <connectionStrings>
        <add name="RiderMVCContext" connectionString="Data Source=10.211.55.100;Initial Catalog=RiderMVC;Persist Security Info=true;User Id=sa;Password=pass1234" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>