@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form action="/Account/Index" method="post">
        <input type="text" id="username" name="username"/>
        <button type="submit">提交</button>
    </form>
</div>
</body>
</html>